
/* NAVBAR */
/* change the background color */
.navbar-custom {
    background-color: white;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/* change the brand and text color */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    color: rgba(48, 151, 0, 0.979);
}
/* change the link color */
.navbar-light .navbar-nav .nav-link {
    color: rgba(104, 104, 104, 0.651) !important;
}
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: rgb(12, 97, 41) !important;
}
.navbar-light .navbar-nav .nav-link{
    color:rgba(37, 37, 37, 0.5) !important;
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus{
    color: rgba(47, 119, 60, 0.89)!important;
}
.navbar-light .navbar-nav .nav-link.disabled{
    color:rgba(47, 119, 60, 0.3) !important;
    
}
.navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .nav-link.active{
    color:rgba(47, 119, 60, 0.9) !important;
    
}

.custom-position{
    float:right !important;
    margin-top: 15px;
}

.custom-menu-item > a {
    font-size: 11pt;
}

.custom-logo{
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-nav li a{
    text-align: right;
}

.menu-item {
    margin-right: 20px;
    font-size: 14pt;
}