.h3-co-custom{
    color : rgb(73, 101, 78);
    font-weight: bold;
    font-size: 2em !important;
}
.p-co-custom{
    padding-top: 0.25em;
    font-size: 1.2em !important;
}
.row-co-custom-1{
    padding : 2em 0;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}