
.card-title{
    text-align: center;
}

@media only screen and (min-width: 765px){
    .container-login{
        max-width: 600px;
    }
}

.link1-custom{
    float: left;
}

.link2-custom{
    float: right;
}
