.how-custom{
  background-color: #fae59c;
  border-radius: 10px;
}
.h3-how{
  color : #ffffff;
  padding-top : 1em;
  padding-bottom : 1em;
}
.h3-how:hover{
  color : #607e65;
  display:inline-block;
  text-decoration: none;
}

.how-custom-2{
  background-color: #c2c2c2;
  border-radius: 10px;
}
.h3-how-2{
  color : #ffffff;
  padding-top : 1em;
  padding-bottom : 1em;
}
.h3-how-2:hover{
  color : #ffe37d;
  display:inline-block;
  text-decoration: none;
}

.modal-body{
  white-space: pre-line !important;
}
 